.feed-placeholder, .feed-empty {
  width: 100%;
  color: var(--color-gray);
  padding: var(--spacing-large);
  text-align: center;
}

.feed-container {
  width: 100%;
  padding: var(--spacing-large);
  padding-top: var(--spacing-standard);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-container article.post-card {
  width: 100%;
  margin-bottom: var(--spacing-large);
}

.feed-container article.post-card .post-header {
  width: 100%;
  padding: var(--spacing-standard);
  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feed-container article.post-card .post-header figure.post-author-avatar {
  background-color: var(--color-primary);
  box-shadow: var(--shadow-background);
  width: 45px;
  height: 45px;
  border-radius: var(--border-radius-standard);
  margin-right: var(--spacing-big);

  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-container article.post-card .post-header figure.post-author-avatar .post-author-avatar-initial {
  font-size: var(--font-size-header);
  text-shadow: var(--shadow-text-avatar);
}

.feed-container article.post-card .post-header .post-info {
  font-size: var(--font-size-misc);
  color: var(--color-gray);
}

.feed-container article.post-card .post-header .post-info a {
  color: var(--color-white);
}

.feed-container article.post-card .post-header .post-info .post-author-at {
  padding-right: 1px;
}

.feed-container article.post-card .post-header .post-info .post-author {
  color: var(--color-white);
}

.feed-container article.post-card .post-content {
  width: 100%;
  background-color: var(--color-background-tertiary);
  border-radius: var(--border-radius-standard);
  padding: var(--spacing-standard) var(--spacing-big);
  color: var(--color-gray-dark);
}