main section.center-column.LoginRegisterPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

main section.center-column.LoginRegisterPage .main-container {
  width: 400px;
  padding: var(--spacing-large);
}

main section.center-column.LoginRegisterPage figure.logo {
  margin-bottom: 50px;
}

main section.center-column.LoginRegisterPage figure.logo span {
  font-size: calc(var(--font-size-header) * 2);
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--spacing-large);
}

.tabs button {
  flex: 1;
  padding: var(--spacing-standard);
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #808080;
  border: 1px solid transparent;
  cursor: pointer;
}

.tabs button.active {
  color: var(--color-primary);
  font-weight: bold;
  border-bottom: 1px solid var(--color-primary);
}

.error-box {
  background-color: var(--color-red);
  color: var(--color-white);
  padding: var(--spacing-big);
  border-radius: var(--border-radius-standard);
  margin-bottom: var(--spacing-big);
  list-style: none;
}

.error-box li {
  margin-bottom: var(--spacing-big);
}

.error-box li:last-of-type {
  margin-bottom: 0;
}

.auth-form {
  width: 100%;
  background-color: var(--color-primary);
  padding: var(--spacing-large);
  border-radius: var(--border-radius-big);

  display: flex;
  flex-direction: column;
}
.auth-form label {
  margin-bottom: var(--spacing-small);
  display: flex;
  align-items: center;
}

.auth-form label svg {
  font-size: var(--font-size-text);
  margin-right: var(--spacing-standard);
}

.auth-form input {
  width: 100%;
  padding: var(--spacing-standard) var(--spacing-big);
  border-radius: var(--border-radius-standard);
  border: none;
}

.auth-form button {
  background-color: white;
  color: black;
  font-size: var(--font-size-text);
  padding: var(--spacing-standard) var(--spacing-large);
  border: 1px solid transparent;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.auth-form button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  transition: 0.3s ease-in-out;
}