@import url('https: //fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  /* Vite/React Standard Roots */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Graphic Profile */
  /* Colors */
  --color-background-primary: #0B0B0B;
  --color-background-primary-gradient: linear-gradient(90deg, rgba(11, 11, 11, 1) 20%, rgba(34, 34, 34, 1) 50%, rgba(11, 11, 11, 1) 80%);
  --color-background-secondary: #222222;
  --color-background-tertiary: #FAFAFA;

  --color-primary: #a7c936;
  --color-primary-rgb: 167, 201, 54;
  --color-primary-hover: #718E12;
  --color-primary-gradient-top-to-bottom: linear-gradient(180deg, rgba(167, 202, 53, 1) 10%, rgba(11, 11, 11, 0) 100%);
  --color-primary-gradient-right-to-left: linear-gradient(270deg, rgba(167, 202, 53, 1) 10%, rgba(11, 11, 11, 0) 100%);
  --color-primary-gradient-bottom-to-top: linear-gradient(0deg, rgba(167, 202, 53, 1) 10%, rgba(11, 11, 11, 0) 100%);
  --color-primary-gradient-left-to-right: linear-gradient(90deg, rgba(167, 202, 53, 1) 10%, rgba(11, 11, 11, 0) 100%);
    
  --color-white: #FFFFFF;
  --color-gray: #777777;
  --color-gray-dark: #191919;
  --color-black: #000000;
    
  --color-red: #B72E2E;
  --color-red-hover: #991515;
  --color-green: #59B72E;
  --color-green-hover: #3F9915;
  --color-yellow: #B7A22E;
  --color-yellow-hover: #998515;

  /* Fonts */
  --font-primary: 'Open Sans', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-size-header: 32px;
  --font-size-subheader: 20px;
  --font-size-text: 16px;
  --font-size-misc: 14px;

  /* Spacing */
  --spacing-large: 25px;
  --spacing-big: 15px;
  --spacing-standard: 10px;
  --spacing-small: 5px;

  /* Border-radius */
  --border-radius-big: 10px;
  --border-radius-standard: 5px;

  /* Drop Shadows */
  --shadow-logo: 0px 0px 3px rgba(var(--color-primary-rgb), 1);
  --shadow-background: 0px 0px 10px 5px rgba(var(--color-primary-rgb), 0.25);
  --shadow-text: 0px 0px 2px rgba(0, 0, 0, 0.5);
  --shadow-text-avatar: 0px 0px 2px rgba(255, 255, 255, 1);
}

/* General Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background-primary);
  background: var(--color-background-primary-gradient);
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--color-white);
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main section.left-column {
  width: 200px;
  min-height: 100vh;
  margin-left: var(--spacing-large);
  margin-right: var(--spacing-large);
  padding: var(--spacing-large) 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main section.center-column {
  background-color: var(--color-background-primary);
  width: 700px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main section.center-column header.page-header {
  width: 100%;
  background: var(--color-primary-gradient-top-to-bottom);
  min-height: 100px;
  padding: var(--spacing-large);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section.center-column .main-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main section.right-column {
  width: 200px;
  min-height: 100vh;
  margin-left: var(--spacing-large);
  margin-right: var(--spacing-large);
  padding: var(--spacing-large) 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logotype */
figure.logo {
  font-family: 'open sans';
  font-size: var(--font-size-header);
  letter-spacing: -9%;
  font-weight: 600;
  color: var(--color-primary);
  text-shadow: var(--shadow-logo);
}

figure.logo a {
  text-decoration: none; 
  color: inherit;
}

figure.logo a:hover {
  color: var(--color-primary-hover);
}

/* Typography */
h1 {
  font-size: var(--font-size-header);
  font-weight: 700;
  color: var(--color-primary);
}

h2 {
  font-size: var(--font-size-subheader);
  font-weight: 700;
  color: var(--color-primary);
}

p {
  font-size: var(--font-size-text);
}

/* Bootstrap icons */
.bi {
  font-size: 24px
}

/* Buttons */
button {
  background-color: var(--color-background-tertiary);
  color: var(--color-gray-dark);
  font-size: var(--font-size-misc);
  padding: var(--spacing-standard) var(--spacing-big);
  border: none;
  border-radius: var(--border-radius-standard);
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-small);

  transition: 0.5s ease-in-out;
} 

button:hover {
  background-color: var(--color-gray);
  transition: 0.5s ease-in-out;
}

button.large-button {
  min-width: 100px;
  flex-direction: column;
}

/* Links */
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

a:hover {
  color: var(--color-primary-hover);
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

/* Forms */
form {
  padding: var(--spacing-big);
  border: none;
  border-radius: var(--border-radius-big);

  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  color: var(--color-white);
  font-size: var(--font-size-text);
  text-shadow: var(--shadow-text);
  margin-top: var(--spacing-standard);
}

form input {
  background-color: var(--color-gray-dark);
  color: var(--color-gray);
  font-size: var(--font-size-text);
  padding: var(--spacing-standard) var(--spacing-big);
  border: none;
  border-radius: var(--border-radius-standard);
  margin-bottom: var(--spacing-big);
}

form textarea {
  background-color: var(--color-gray-dark);
  width: 100%;
  color: var(--color-gray);
  font-size: var(--font-size-text);
  line-height: 1.4;
  padding: var(--spacing-standard) var(--spacing-big);
  border: none;
  border-radius: var(--border-radius-standard);
  overflow: hidden;
  resize: none;
}

form input[type="submit"] {
  background-color: var(--color-background-tertiary);
  color: var(--color-gray-dark);
  font-weight: 600;
  padding: var(--spacing-standard) var(--spacing-large);
  border-radius: var(--border-radius-standard);
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

form input[type="submit"]:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: 0.3s ease-in-out;
}

form button {
  margin-top: var(--spacing-big);
}

/* Footer */
footer {
  color: var(--color-gray);
  font-size: var(--font-size-misc);
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer strong {
  color: var(--color-primary-hover);
}
