main section.center-column.NotFoundPage .main-container {
  padding: var(--spacing-large);
}

main section.center-column.NotFoundPage .main-container p {
  padding: var(--spacing-standard);
  text-align: center;
}