.write-post-container {
  width: 100%;
}

.write-post-container .write-post-form {
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.write-post-container .write-post-form .char-count {
  width: 40px;
  height: 40px;
  font-size: 12px;
  font-weight: 700;
  margin: var(--spacing-big);
  padding: var(--spacing-standard);
  border: 1px dashed white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}